build
cython
extension-helpers
numpy==1.13.1; python_version<'3.7'
numpy==1.14.5; python_version=='3.7'
numpy==1.18.1; python_version=='3.8'
numpy==1.20.3; python_version=='3.9'
numpy==1.21.6; python_version=='3.10'
numpy==1.23.4; python_version=='3.11'
numpy==1.26.4; python_version=='3.12'
pip
pytest
pytest-astropy
pytest-doctestplus
pytest-remotedata
setuptools
setuptools-scm
sgp4
sphinx
sphinx-astropy[confv2]
sphinx_copybutton
pydata-sphinx-theme
twine
wheel

